 /* p{
    color: red;
     letter-spacing: 3px; 
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: right;

}  */

.box{
    background-color: red;
    color: white;
    width: 200px;
    height: 150px;
}
.cont{
    display: flex;
    gap: 30px;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */

    /* justify-content: space-around; */
     /* justify-content: space-between; */
     /* justify-content: space-evenly; */

     /* justify-content: center; */
}